<!-- sidebar.html -->

<div id="contact-list" class="text-center">

    <div class="fb-page" data-href="https://www.facebook.com/Marueccos.cultura.y.tradiciones/" data-small-header="true"
         data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/Marueccos.cultura.y.tradiciones/"><a
                    href="https://www.facebook.com/Marueccos.cultura.y.tradiciones/">Marruecos: cultura y
                tradiciones</a></blockquote>
        </div>
    </div>


    <!-- ann-01 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5146743273706807"
         data-ad-slot="9604403774"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<!-- sidebar.html end -->
